:root {
    --primary-text-color: #212121;
    --title--text-color: #FFFFFF;
    --accent-color: #2196F3;
    --primary--bg-color: #ffffff;
    --second-color: #2F303A;
    --second-text-color:#757575;
}
p,
h1,
h1,
h3,
h4,
h5,
h6{
    margin: 0px;
}
ul{
    padding: 0px;
    margin: 0px;
}
img{
   display: block;
}
.page {
    background-color: #ffffff;
    color: var(--primary-text-color);
}
.page-list-item {
    color: var(--primary-text-color);
    color: var(--accent-color);
}
.logo {
    color:var(--primary-text-color);
}
.list {
    list-style: none;
}

.link {
    text-decoration: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }
/* -----------------------------site-nav---------------------- */
.logo {
    margin-right: 90px;
}
.site-nav{
    display: flex;
}

.header-container{
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
}

.header-novigation {
    display: flex;
    align-items: center;
}
.auth-nav{
    display: flex;
    margin-left: auto;
}
.header-link {
    padding-left: 50px;
}
.nav-item:not(:last-child) {
    margin-right: 50px;
  }
.logo-item {
    font-family: Raleway, sans-serif;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
    color: var(--accent-color);
}
.logo-righr {
    font-family: Raleway, sans-serif;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;

letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.link-current {
    font-family: Roboto, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
    color: var(--primary-text-color);
}
.link-current:hover {
    color: var(--accent-color);
}
.site-nav. link.current {
    font-family: Roboto, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
    color: var(--primary-text-color);
}
.auth-nav-text {
    font-family: Roboto, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14x;
letter-spacing: 0.02em;

color: var(--second-text-color)

}

 .auth-nav-text:hover{
    color: var(--accent-color);
}
/* -----------------------hero---------------------------- */

.hero{
    margin: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    justify-content: center;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../ipg1/Img14.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;

 
}
.hero-title {
    width: 696px;
margin: auto;
margin-bottom: 45px;
}

.hero-title{
    font-family: Roboto, sans-serif;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
    color: var(--title--text-color);   
}

/* -------------------------------- Преимущества--------------------------- */
.features-iten-antenna{
    width: 70px;
    height: 70px;
}
.features-icon{
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: #f5f4fa;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile-item{

    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    
}
.title {
    display: flex;
    margin-bottom: 10px;
}
.text-title{
    margin: 0;
    width: 270px;
    
}

.features-list{
    display: flex;
    margin: 0 auto;
    margin-left: -27px;

}
.section{
    padding-top: 107px;
    padding-bottom: 100px;
}

.section-title {
    font-family: Roboto, sans-serif;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 1.87;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
    color:var(--primary-text-color);
}
/* ---------------------------features-list----------------------------- */

.features-list, title {
    font-family: Roboto, sans-serif;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercas
    color: var(--primary-text-color);
}

.title{
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
}
.text-title {
    font-family: Roboto, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
    color: #757575;
}
/* --------------галерея----------------- */
.gallery{
    padding-bottom: 94px;
}
.gallery-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
}
.gallery-item{
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    
}
.gallery-title {
    margin: auto;
margin-bottom: 50px;
}
.gallery-title {
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

/*-------------Кнопка---------------------------- */

.button{
display: flex;
justify-content: center;
align-items: center;
padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;

}
.hero-btn{
    margin: auto;
    
}
.item {
    flex-basis: calc(100% / 5 - 30px);
    margin-left: 30px;
}


.button {
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 1.87;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
    color: var(--title--text-color);
    background-color: var(--accent-color);
}
/* ---------------------------мастера----------------------------------- */

.social-list {
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    
}
.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    width: 44px;
    height: 44px;
    border-radius: 50%;
}
.social-link:hover,
 .social-link:focus {
    background-color: var(--accent-color);
}
.social-link:hover .social-icon, 
.social-link:focus .social-icon {
    fill: var(--title--text-color);
}


.social-icon {
    width: 20px;
    height: 20px;
    fill: #afb1b8;
}

.masters-title{
    margin-top: auto;
    margin-bottom: 50px;
}

.masters{
    display: block;
    padding: 94px 0;
    padding-top: 94px;
    padding-right: 0px;
    padding-bottom: 94px;
    padding-left: 0px;
}

.masters-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
}
.masters-item {
        margin-right: 30px;
        background-color: var(--title--text-color);
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
    }
.gallery-text-item{
    padding: 30px;
}
.masters-item-bottom{
    padding: 30px 0;
    padding-top: 30px;
    padding-right: 0px;
    padding-bottom: 30px;
    padding-left: 0px;;

}
.masters-item-text{
    padding-top: 10px;
}
.masters {
    background-color: #E5E5E5;
}

.masters-title {
    font-family: Roboto, sans-serif;
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.masrers-item-title {
    font-family: Roboto, sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.14;
text-align: center;
letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.masters-item-text {
    font-family: Roboto, sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
    color: var(--second-text-color);
}
/* ---------------Клиенты------------------- */

.clients-section {
    background-color: var(--title--text-color);
}
.section {
    display: block;
    padding: 94px 0;
    box-sizing: border-box;
}

.clients-title{
    font-family: Roboto;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;

color: var(--primary-text-color);
}

.clients-list {
    display: flex;
    align-items: center;
    justify-content: center;
}
.clients-item {
    display: flex;
    align-items: center;
    justify-content: center;
}
.clients-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
}
.clients {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 106px;
    height: 60px;
    fill: #afb1b8;
}
.clients-link:hover,
.clients-link:focus {
    border-color: var(--accent-color);
}
.clients-link:hover .clients, 
.clients-link:focus .clients {
    fill: var(--accent-color);
    
}
.clients-item + .clients-item {
    margin-left: 30px;
}

/* ---------------------------FOOTER------------------------------------ */
.contacts-title {
    padding-top: 60px;
    padding-bottom: 60px;
}
.contacts-list {
    margin-left: auto;
}
.contacts-address{
    margin-top: 30px;
}
.contacts-item-list{
    margin-top: 9px;
}
.contacts-title {
    font-family: Raleway;
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;

color: var(--title--text-color);
}

.contacts-list-item {
    font-family: Raleway, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
    color: var(--accent-color);
}

.contacts-list-right {
    font-family: Raleway, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em; 
    color: var(--title--text-color);
}
.contacts-item-list {
    font-family: Roboto;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
    color: var(--title--text-color);
}

.contacts-item-address {
    font-family: Roboto, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);


}
.contacts-title {
    background-color: var(--second-color);
}
.contacts-link {
    color: rgba(255, 255, 255, 0.6);;
}
.contacts-address, {
    font-style: none;
}
.contacts-title {
    font-style: none;